.hide {
  display: none;
}
#error_explanation {
  color: red;
  h2 {
    color: red !important;
  }
}
#search_bar {
  float: right;
}
div#index_table {
  clear: right;

  table.list {
    th {
      text-align: center;
    }
    tr:nth-child(odd) {
      background-color: #F6F7F8;
    }
    tr:nth-child(even) {
      background-color: #FFF;
    }
  }

}
.is_project_owner {
  color: blue;
}

