<% if person.projects_jp_people.present? %>
  <table>
    <thead>
      <tr>
        <th>関連</th>
        <th>プロジェクト名</th>
      </tr>
    </thead>
    <tbody>
      <% person.projects_jp_people.each do |p| %>
        <tr>
          <td><%= p.pp_relationship %></td>
          <td><%= link_to p.project.name, p.project %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>関連するプロジェクトはありません.</p>
<% end %>
