<% if person.projects_jp_people.present? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>関連</th>
        <th>プロジェクト名</th>
      </tr>
    </thead>
    <tbody>
      <% person.projects_jp_people.each do |p| %>
        <tr>
          <td><%= content_tag :span, "●", class: :is_project_owner if p.is_project_owner %></td>
          <td><%= p.pp_relationship %></td>
          <td><%= link_to p.project.name, p.project %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>関連するプロジェクトはありません.</p>
<% end %>
